@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

html,
body,
#root,
#root > * {
  height: 100%;
}

#searchBtn {
  cursor: pointer;
}

#searchBtn input::before {
  content: "../src/assets/icons/magnifier.svg";
}
